<div class="mat-card-all">
<mat-card>
  <mat-icon>directions_car</mat-icon>
  <h1>UltiCar</h1>
  <div class="mat-card-inputs">
    <app-text-box input type="text" placeholder="Username" icon="person" ngDefaultControl [(ngModel)]="loginData.username"></app-text-box>
     <app-text-box input matInput type="text" placeholder="Password" [encryption]="true" ngDefaultControl [(ngModel)]="loginData.password"></app-text-box><br/>
     <app-check-box label="Remember my credentials" color="primary" ngDefaultControl [(ngModel)]="loginData.rememberUser"></app-check-box>
  </div>
  <div class="mat-card-sign-in">
    <app-raised-button label="Sign in" color="primary" [disabled]="false" (clickEvent)="login()"></app-raised-button>    
  </div>
  <div class="mat-card-register">
    <app-basic-button type="submit" label="Create an Account" color="primary" (clickEvent)="register()"></app-basic-button>    
  </div>
</mat-card>
</div>
