<mat-card>
  <h1>{{ title }}</h1>
  <div class="container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <directions-service></directions-service>
    </agm-map>
  </div>
  <div class="inprogress">
    <app-text-box placeholder="Enter your pickup location." 
    icon="my_location" 
    ngDefaultControl 
    [(ngModel)]="pickupTextboxValue"
    (ngModelChange)="onPickupTextChange($event)">
    </app-text-box>
    <p>{{originLatitude}}</p>
    <app-text-box placeholder="Enter your destination." 
    icon="place"
    ngDefaultControl 
    [(ngModel)]="destinationTextboxValue"
    (ngModelChange)="onDestinationTextChange($event)">>
    </app-text-box>
  </div>
  <div class="trip-inputs">
    <input placeholder="Enter your pickup location." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupInput [formControl]="destinationInput" size="55">
    <input placeholder="Enter your destination." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupOutput [formControl]="destinationOutput" size="55">
  </div>
  <app-raised-button label="Find Your Ride" color="primary" (click)="onFindRideClick($event)"></app-raised-button>
</mat-card>
