<mat-card>
  <h1>{{ title }}</h1>
  <div class="container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="getGeoCode($event)">
      <div appDirectionsService></div>
    </agm-map>
  </div>
  <div class="trip-inputs">
    <input placeholder="Enter your pickup location." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupInput [formControl]="destinationInput" size="55">
    <input placeholder="Enter your destination." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupOutput [formControl]="destinationOutput" size="55">
  </div>
  <div id="status-message" [ngSwitch]="interactionState | async">
    <div id="plan-your-trip" *ngSwitchCase="'USER_LOCATION_INPUT_REQUIRED'">
      <p>Please select a pickup and destination location</p>
    </div>
    <div id="click-get-trip-estimate" *ngSwitchCase="'PRICE_CALCULATION_REQUIRED'">
      <p>If you are ready to go, click <strong>Get Trip Estimate</strong></p>
    </div>
    <div id="calculating-trip" *ngSwitchCase="'CALCULATING_PRICE'">
      <p><mat-spinner id="main-progress-spinner" [diameter]="40" [strokeWidth]="3"></mat-spinner> Finding you the best possible trip...give us a second</p>
    </div>
    <div id="trip-price-estimate" *ngSwitchCase="'FINDING_RIDE_REQUIRED'">
      <p>Your trip {{ estimatedTime | async }} minute trip will cost {{ (estimatedPrice | async) }}. When you're ready to go, click <strong>Find Your Ride</strong></p>
    </div>
    <div id="encountered-server" *ngSwitchCase="'SERVER_ERROR'">
      <p>{{ title }} encountered a server error. Please retry your operation</p>
    </div>
    <div id="dev-error" *ngSwitchDefault>
      <p>Ah snap! The dev screwed up. Err: {{ interactionState | async }}</p>
    </div>
  </div>
  <app-get-estimate-button label="Get Trip Estimate" color="accent" (click)="getTripEstimate($event)" [disabled]="isTripEstimateButtonDisabled$() | async"></app-get-estimate-button>
  <app-raised-button label="Find Your Ride" color="primary" (click)="onFindRideClick($event)" [disabled]="isFindYourRideButtonDisabled$() | async"></app-raised-button>
</mat-card>
