agm-map {
  padding-top: 50px;
  height: 500px;
  width: 100%;
}

.trip-inputs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.app-text-box {
  min-width: 500px;
}

#main-progress-spinner {
  margin: auto;
  padding-bottom: 10px;
}
