<mat-card>
  <h1>{{ title }}</h1>
  <div class="container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <directions-service></directions-service>
    </agm-map>
  </div>
  <div class="trip-inputs">
    <input placeholder="Enter your pickup location." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupInput [formControl]="destinationInput" size="55">
    <input placeholder="Enter your destination." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #pickupOutput [formControl]="destinationOutput" size="55">
  </div>
  <div class="mat-card-driverList">
  <app-raised-button type= "submit" label="Find Your Ride" color="primary" (clickEvent)="drivers($event)"></app-raised-button>
  </div>
</mat-card>
